GeoCoding/Service References/GeoCodeRef/GeoCode3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeoCodeSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeoCodeSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="GeoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfGeoResult" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoResponse" nillable="true" type="tns:GeoResponse" />
  <xs:complexType name="ArrayOfGeoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoResult" nillable="true" type="tns:GeoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoResult" nillable="true" type="tns:ArrayOfGeoResult" />
  <xs:complexType name="GeoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formatted_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geometry" nillable="true" type="tns:GeoGeometry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoResult" nillable="true" type="tns:GeoResult" />
  <xs:complexType name="GeoGeometry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:GeoLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoGeometry" nillable="true" type="tns:GeoGeometry" />
  <xs:complexType name="GeoLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lng" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoLocation" nillable="true" type="tns:GeoLocation" />
</xs:schema>